<h1>Sisäänkirjautumissivu</h1>
<form action="/users/login" method="POST">
    <h2>Kirjaudu sisään:</h2>

    <label for="inputEmail">Sähköposti:</label>
    <input type="email" name="email" id="inputEmail" placeholder="Sähköposti" required>

    <label for="inputPassword">Salasana:</label>
    <input type="password" name="password" id="inputPassword" placeholder="Salasana" required>

    <button type="submit">Kirjaudu</button>

</form>