<button id="modal-button" type="button" data-toggle="modal" data-target="#myModal">Kansadnedustajat</button>


<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button id="politicians-button" type="button">Näytä</button>
            <button type="button" data-bs-dismiss="modal" >Sulje</button>
        </div>
    </div>
</div>